.home {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.home_header {
	display:flex;
	justify-content: space-between;
	padding: 20px 30px;
	align-items: center;
}

a {
	margin-right: 20px;
	text-decoration: inherit;
	color: rgba(0, 0, 0, 0.87);
	font-size: 15px;
}

a:hover {
	text-decoration: underline;
}

.home_headerRight {
	display: flex;
	align-items: center;
	min-width: 13vw;
	justify-content: space-between;
}

.icon {
	margin-right: 20px;
}

.home_body {
	flex:	1;
	display: flex;
	margin-top: 10%;
	flex-direction: column;
}

.home_body > img {
	object-fit: contain;
	height: 100px;
}

.search_input {
	display: flex;
	align-items: center;
	border: 1px solid lightgray;
	height: 30px;
	padding: 10px 20px;
	border-radius: 999px;
	widows: 75vw;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 560px;
}

.search_input > input {
	flex:1;
	padding: 10px 20px;
	font-size: medium;
	border: none;
}

.search_input > input:focus {
	outline-width: 0;
}

.search_buttons {
	margin-top: 30px;
	display: flex;
	justify-content: center;	
}

.search_buttons button {
	background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search_buttons button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-color: #f8f8f8;
	bottom: 1px solid #c6c6c6;
	color: #222;
}

.c93Gbe{background:#f2f2f2}
.uU7dJb{padding:15px 30px;border-bottom:1px solid #dadce0;font-size:15px;color:rgba(0,0,0,.54)}
.SSwjIe{padding:0 20px}.KxwPGc{display:flex;flex-wrap:wrap;justify-content:space-between}
@media only screen and (max-width:1200px) {.KxwPGc{justify-content:space-evenly}}
.pHiOh{display:block;padding:15px;white-space:nowrap}
a.pHiOh{color:#70757a}

.ayzqOc{position:relative}
.EzVRq{display:block;padding:15px;white-space:nowrap}
a.EzVRq,
button.EzVRq{color:#70757a}
button.EzVRq{cursor:pointer;width:100%;text-align:left}
button.EzVRq:hover,
button.EzVRq:active{text-decoration:underline}
.Qff0zd{display:none;position:absolute;list-style:none;background:#fff;border:1px solid #70757a}